[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
eezotop-hist-new="0.2.0"
victor1234544more = "*"

[dev-packages]

[requires]
python_version = "3.8"
